@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global font */
* {
  font-family: 'Outfit', sans-serif;
}

/* Preserve 3D effect */
.perspective {
  perspective: 1000px;
}

.transform-style-preserve-3d {
  transform-style: preserve-3d;
}

